{% extends "base.html.twig" %}
{% block body %}
    <table class="table">
        <tr>
            <th>Nom</th>
            <th>disponilbilite_produit</th>
            <th>Note_produit</th>
            <th>description_produit</th>
        </tr>
        {% for product in products %}
            <tr>
                <td>{{ product.NomProduit }}</td>
                <td>{{ product.DisponibiliteProduit }}</td>
                <td>{{ product.NoteProduit }}</td>
                <td>{{ product.DescriptionProduit }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No content available</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}