{% extends 'base.html.twig' %}

{% block title %}New RegionFabrication{% endblock %}

{% block body %}
    <h1>Create new RegionFabrication</h1>

    {{ include('region_fabrication/_form.html.twig') }}

    <a href="{{ path('region_fabrication_index') }}">back to list</a>
{% endblock %}