{% block body %}
	{% for couleur in couleurs %}
		<div class="col-md-12">
			<div class="col-md-12 glyphicon glyphicon-unchecked">{{ couleur.nomCouleur }}</div>
		</div>
	{% else %}
		<p> pas de couleur disponible </p>
	{% endfor %}
{% endblock %}