{% extends 'base.html.twig' %}
{% block header %}
	<div>
		<img src="images/background/background.jpg" class="background" alt="background"/>
		<nav class="navbar navbar-default bar-nav navbar-1">
			<div class="container-fluid">
				<ul class="nav navbar-nav navbar-brand contact">
					<li><span class="glyphicon glyphicon-phone"></span>04.74.61.95.26</li>
					<li><span class="glyphicon glyphicon-envelope"></span>sanspression@orange.fr</li>
				</ul>
				<ul class="nav navbar-nav navbar-right account">
					<li><a href="https://www.facebook.com/SARLSansPression/"><img src="images/facebook/facebook.png" class="facebook"></a></li>
					<li><a href="#" class="nav"><span class="glyphicon glyphicon-user pills"></span> S'inscrire</a></li>
					<li><a href="#" class="nav"><span class="glyphicon glyphicon-log-in pills"></span> Se connecter</a></li>
				</ul>
			</div>
			<div class="container-fluid">
			<div class="navbar-brand" href="#"><img src="images/logo/LOGO_Sans_Pression.png" alt="Logo"/></div>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">Produits</a></li>
				<li><a href="#">Événements</a></li>
				<li><a href="#">Promotions</a></li>
				<li><a href="#">Magasin</a></li>
				</ul>
			</div>
		</nav>
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 description">
			<h1>Sans Pression</h1>
			<p>Cave et bar à bières.
			160 références de bières en stock sur un choix de plus de 1000 références.
			12 pressions au bar, terrasse et grand parking.
			</p>
		</div>
	</div>
{% endblock %}
{% block body %}
	<section class="produit">
		<h1>Nos Produits</h1>
		<h2>
			<span class="glyphicon glyphicon-menu-left"></span>Nos bières<span class="glyphicon glyphicon-menu-right"></span>
		</h2>
		<div class="col-md-12 section-produit-biere"
			<div class="col-md-12 ligne-produit-home">
				<div class="col-md-2 blanc">
				</div>	
				<div class="col-md-4 produit-home">
					<img src="images/produit/biere-verte.jpg" class="col-md-4 produit-home-photo">
					<div class="col-md-8 produit-home-text">
						<h3>Bière du sorcier verte</h3>
						<div class="col-md-12 barre-separation"></div>
						<p class="produit-home-description">Créée par le maître-brasseur Marc Arbogast, la bière du sorcier est un breuvage qui prit vie par le biais de l'histoire d'une vieille dame aux allures</p>
						<div class="col-md-10 barre-separation-2">
							<p>3 Abbayes</p>
						</div>
						<div class="col-md-10 barre-separation-2">
							<p>France</p>
						</div>
						<div class="col-md-10 barre-separation-2">
							<p class="col-md-6 produit-home-alcool">5°</p>
							<p class="col-md-6">33cl</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 produit-home">
				qdqsodqskdsqkdopqskdqspod <br><br><br><br><br><br><br><br>
				</div>
				<div class="col-md-2 blanc">
				</div>
			</div>		
			<div class="col-md-12 ligne-produit-home">
				<div class="col-md-2 blanc">
				</div>	
				<div class="col-md-4 produit-home">
				qdqsodqskdsqkdopqskdqspod <br><br><br><br><br><br><br><br>
				</div>
				<div class="col-md-4 produit-home">
				qdqsodqskdsqkdopqskdqspod <br><br><br><br><br><br><br><br>
				</div>
				<div class="col-md-2 blanc">
				</div>
			</div>		
			<div class="col-md-12 ligne-produit-home">
				<div class="col-md-2 blanc">
				</div>	
				<div class="col-md-4 produit-home">
				qdqsodqskdsqkdopqskdqspod <br><br><br><br><br><br><br><br>
				</div>
				<div class="col-md-4 produit-home">
				qdqsodqskdsqkdopqskdqspod <br><br><br><br><br><br><br><br>
				</div>
				<div class="col-md-2 blanc">
				</div>
			</div>		
	</div>
			<div class="col-md-3 blanc"></div><button type="button" class="col-md-6 btn-produit-home">Tous nos produits</button><div class="col-md-3 blanc"></div>
	</section>
	<section class="evenement"
	
	</section>
	
{% endblock %}