{% extends 'base.html.twig' %}
{% block header %}
	<div>
		<img src="images/background/background.jpg" class="background" alt="background"/>
		<nav class="navbar navbar-default bar-nav navbar-1">
			<div class="container-fluid">
				<ul class="nav navbar-nav navbar-brand contact">
					<li><span class="glyphicon glyphicon-phone"></span>04.74.61.95.26</li>
					<li><span class="glyphicon glyphicon-envelope"></span>sanspression@orange.fr</li>
				</ul>
				<ul class="nav navbar-nav navbar-right account">
					<li><a href="https://www.facebook.com/SARLSansPression/"><img src="images/facebook/facebook.png" class="facebook"></a></li>
					<li><a href="#" class="nav"><span class="glyphicon glyphicon-user pills"></span> S'inscrire</a></li>
					<li><a href="#" class="nav"><span class="glyphicon glyphicon-log-in pills"></span> Se connecter</a></li>
				</ul>
			</div>
			<div class="container-fluid">
			<div class="navbar-brand" href="#"><img src="images/logo/LOGO_Sans_Pression.png" alt="Logo"/></div>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">Produits</a></li>
				<li><a href="#">Événements</a></li>
				<li><a href="#">Promotions</a></li>
				<li><a href="#">Magasin</a></li>
				</ul>
			</div>
		</nav>
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 description">
		<h1>Sans Pression</h1><p>Cave et bar à bières. 160 références de bières en stock sur un choix de plus de 1000 références.12 pressions au bar, terrasse et grand parking.</p>
		</div>
	</div>
{% endblock %}
{% block body %}
	<section class="produit">
		<h1>Nos Produits</h1>
		<h2>
			<span class="glyphicon glyphicon-menu-left"></span><span class='home-type-produit'>Nos bières</span><span class="glyphicon glyphicon-menu-right"></span>
		</h2>
		<div class="col-md-12 section-produit-biere">
			<div class="col-md-12 ligne-produit-home">
				<div class="col-md-1 blanc"></div>	
				<div class="col-md-5 produit-home">
					<img src="images/produit/biere-verte.jpg" class="col-md-4 produit-home-photo">
					<div class="col-md-8 produit-home-text">
						<h3>Bière du sorcier verte</h3>
						<div class="col-md-12 barre-separation"></div>
						<p class="produit-home-description">Créée par le maître-brasseur Marc Arbogast, la bière du sorcier est un breuvage qui prit vie par le biais de l'histoire d'une vieille dame aux allures</p>
						<div class="col-md-10 barre-separation-2">
							<p>3 Abbayes</p>
						</div>
						<div class="col-md-10 barre-separation-2">
							<p class="col-md-6 produit-home-tableau-gauche">France</p>
							<p class="col-md-6">Aromatisée</p>
						</div>
						<div class="col-md-10 barre-separation-2">
							<p class="col-md-6 produit-home-tableau-gauche">5°</p>
							<p class="col-md-6">33cL</p>
						</div>
					</div>
				</div>
				<div class="col-md-5 produit-home">
					<img src="images/produit/bush.jpg" class="col-md-4 produit-home-photo">
					<div class="col-md-8 produit-home-text">
						<h3>Bush pêche mel</h3>
						<div class="col-md-12 barre-separation"></div>
						<p class="produit-home-description">La Pêche Mel'Bush est l'une des dernières nées de la brasserie belge Dubuisson, située à quelques kilomètres de la frontière avec le Nord-Pas-de-Calais. Cette bière de fruits ar</p>
						<div class="col-md-10 barre-separation-2">
							<p>Dubuisson</p>
						</div>
						<div class="col-md-10 barre-separation-2">
							<p class="col-md-6 produit-home-tableau-gauche">Belgique</p>
							<p class="col-md-6">Aromatisée</p>
						</div>
						<div class="col-md-10 barre-separation-2">
							<p class="col-md-6 produit-home-tableau-gauche">8,5°</p>
							<p class="col-md-6">33cL</p>
						</div>
					</div>
				</div>
				<div class="col-md-1 blanc">
				</div>
			</div>		
			<div class="col-md-12 ligne-produit-home">
				<div class="col-md-1 blanc"></div>	
				<div class="col-md-5 produit-home">
					<img src="images/produit/chimay.jpg" class="col-md-4 produit-home-photo">
					<div class="col-md-8 produit-home-text">
						<h3>Chimay bleu</h3>
						<div class="col-md-12 barre-separation"></div>
						<p class="produit-home-description">La Chimay Bleue est la plus forte et la plus complexe des bières trappistes de l'abbaye de Notre Dame de Scourmont Elle offre un bouquet d'épices et </p>
						<div class="col-md-10 barre-separation-2">
							<p>Abbaye de Chimay</p>
						</div>
						<div class="col-md-10 barre-separation-2">
							<p class="col-md-6 produit-home-tableau-gauche">Belgique</p>
							<p class="col-md-6">Brune</p>
						</div>
						<div class="col-md-10 barre-separation-2">
							<p class="col-md-6 produit-home-tableau-gauche">9°</p>
							<p class="col-md-6">33cL</p>
						</div>
					</div>
				</div>
					<div class="col-md-5 produit-home">
					<img src="images/produit/deli.jpg" class="col-md-4 produit-home-photo">
					<div class="col-md-8 produit-home-text">
						<h3>Delirium Nocturium</h3>
						<div class="col-md-12 barre-separation"></div>
						<p class="produit-home-description">Brassée par la Brasserie Huyghe, La Delirium Nocturnum est considérée comme la petite sœur brune de la célèbre Delirium Tremens, qui a fait le succès </p>
						<div class="col-md-10 barre-separation-2">
							<p>Brasserie Huyghe</p>
						</div>
						<div class="col-md-10 barre-separation-2">
							<p class="col-md-6 produit-home-tableau-gauche">Belgique</p>
							<p class="col-md-6">Brune</p>
						</div>
						<div class="col-md-10 barre-separation-2">
							<p class="col-md-6 produit-home-tableau-gauche">8,5°</p>
							<p class="col-md-6">33cL</p>
						</div>
					</div>
				</div>
				<div class="col-md-1 blanc">
				</div>
			</div>		
			<div class="col-md-12 ligne-produit-home">
				<div class="col-md-1 blanc"></div>	
				<div class="col-md-5 produit-home">
					<img src="images/produit/troll.jpg" class="col-md-4 produit-home-photo">
					<div class="col-md-8 produit-home-text">
						<h3>Cuvée des Trolls triple</h3>
						<div class="col-md-12 barre-separation"></div>
						<p class="produit-home-description">La Cuvée des Trolls est une bière belge brassée depuis l'an 2000 par la Brasserie Dubuisson qui produit aussi les caractérielles bières Bush. Elle int</p>
						<div class="col-md-10 barre-separation-2">
							<p>Dubuisson</p>
						</div>
						<div class="col-md-10 barre-separation-2">
							<p class="col-md-6 produit-home-tableau-gauche">Belgique</p>
							<p class="col-md-6">Blonde</p>
						</div>
						<div class="col-md-10 barre-separation-2">
							<p class="col-md-6 produit-home-tableau-gauche">7,5°</p>
							<p class="col-md-6">75cL</p>
						</div>
					</div>
				</div>
					<div class="col-md-5 produit-home">
					<img src="images/produit/peche.jpg" class="col-md-4 produit-home-photo">
					<div class="col-md-8 produit-home-text">
						<h3>Lindemans La Pêcheresse</h3>
						<div class="col-md-12 barre-separation"></div>
						<p class="produit-home-description">Cette Lindemans est une bière de type lambic, brassée à base de malts d'orge, de blé et avec ajout de jus de pêche avant une période de maturation en fût de chê</p>
						<div class="col-md-10 barre-separation-2">
							<p>Lindemans</p>
						</div>
						<div class="col-md-10 barre-separation-2">
							<p class="col-md-6 produit-home-tableau-gauche">Belgique</p>
							<p class="col-md-6">Aromatisée</p>
						</div>
						<div class="col-md-10 barre-separation-2">
							<p class="col-md-6 produit-home-tableau-gauche">2.5°</p>
							<p class="col-md-6">25cL</p>
						</div>
					</div>
				</div>
				<div class="col-md-1 blanc">
				</div>
			</div>		
		</div>
		<div class="col-md-12 section-produit-tireuse">
			<div class="col-md-12 div-image-tireuse">
				<table>
					<tr>
						<td class="tireuse" id="tireuse-1"></td>
						<td class="tireuse" id="tireuse-2"></td>
						<td class="tireuse" id="tireuse-3"></td>
						<td class="tireuse" id="tireuse-4"></td>
						<td class="tireuse" id="tireuse-5"></td>
						<td class="tireuse" id="tireuse-6"></td>
						<td class="tireuse" id="tireuse-7"></td>
						<td class="tireuse" id="tireuse-8"></td>
						<td class="tireuse" id="tireuse-9"></td>
						<td class="tireuse" id="tireuse-10"></td>
						<td class="tireuse" id="tireuse-11"></td>
						<td class="tireuse" id="tireuse-12"></td>
					</tr>
				</table>
				<p class="help-tireuse"> cliquer sur une tireuse pour avoir la description du produit</p>
			</div>
		</div>
			<div class="col-md-5 blanc"></div><button type="button" class="col-md-2 btn-produit-home">Tous nos produits</button><div class="col-md-5 blanc"></div>
	</section>
	<section class="evenement"
	
	</section>
	
{% endblock %}