{% extends 'base.html.twig' %}
{% block header %}
	<div>
		<img src="images/background/background.jpg" class="background" alt="background"/>
		<nav class="navbar navbar-default bar-nav navbar-1">
			<div class="container-fluid">
				<ul class="nav navbar-nav navbar-brand contact">
					<li><span class="glyphicon glyphicon-phone"></span>04.74.61.95.26</li>
					<li><span class="glyphicon glyphicon-envelope"></span>sanspression@orange.fr</li>
				</ul>
				<ul class="nav navbar-nav navbar-right account">
					<li><a href="#" class="nav"><span class="glyphicon glyphicon-user pills"></span> S'inscrire</a></li>
					<li><a href="#" class="nav"><span class="glyphicon glyphicon-log-in pills"></span> Se connecter</a></li>
				</ul>
			</div>
			<div class="container-fluid">
			<div class="navbar-brand" href="#"><img src="images/logo/LOGO_Sans_Pression.png" alt="Logo"/></div>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">Produits</a></li>
				<li><a href="#">Événements</a></li>
				<li><a href="#">Promotions</a></li>
				<li><a href="#">Magasin</a></li>
				</ul>
			</div>
		</nav>
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 description">
			<h1>Sans Pression</h1>
			<p>Cave et bar à bières.
			160 références de bières en stock sur un choix de plus de 1000 références.
			10 pressions au bar, terrasse et grand parking.
			</p>
		</div>
	</div>
{% endblock %}
{% block body %}
	<section>
		
	</section>
{% endblock %}