{% extends 'base.html.twig' %}

{% block title %}Edit Vignoble{% endblock %}

{% block body %}
    <h1>Edit Vignoble</h1>

    {{ include('vignoble/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('vignoble_index') }}">back to list</a>

    {{ include('vignoble/_delete_form.html.twig') }}
{% endblock %}