.navbar{
	background-color : rgba(0,0,0,0.4);
	width: 100%;
}
.navbar-1{
	position: absolute; /* Set the navbar to fixed position */
    top: 0;
} 

.nav a{
	color : #ffffff !important;
}

.navbar{
	min-height : 120px;
	border-style : none;
	z-index : 85;
}

.navbar-brand
{
	padding-top : 0px;
	padding-bottom : 0px;
	padding-left : 100px;
}

.navbar-brand img
{
	max-height : 50px;
	max-width : 50px;
}


.background
{
	width : 100%;
	max-height : 100vh;
}

.fond-noir
{
	position : absolute ;
	top : 0;
	z-index : 84;
	background-color :  rgba(0,0,0,0.4);
	width: 100%;
	height :auto;
}

.contact li
{
	color : white;
	padding-top :10px;
	font-size : x-small;
}

.contact span
{
	padding-left : 5px;
	padding-right : 5px;
}

.account
{
	font-size : x-small;
}

.description
{
	margin-left : 10%;
	position : absolute;
	top : calc(50vw / 2);
	background-color : rgba(0,0,0,0.6);
	
}

.description p
{
	color : white;
	font-size : large;
}

.description h1
{
	text-align : center;
	color : #c8c135;
}