.no-padding
{
	padding : 0px !important;
}

.navbar-1, .navbar-menu{
	background-color : rgba(0,0,0,0.4);
	min-height : 120px;
}

.navbar-1
{
	position : fixed;
	top : 0;
}

.navbar-menu{
	min-height : 0px;	
}

.nav a{
	color : #ffffff !important;
}

.navbar{
	border-style : none;
	z-index : 85;
	width: 100%;
}

.navbar-brand
{
	padding-top : 0px;
	padding-bottom : 0px;
	padding-left : 100px;
}

.navbar-brand img
{
	max-height : 150px;
	max-width : 150px;
}

.acc-descr
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 5vw;
	display: flex;
	justify-content: center;
    text-align: center;
	align-items: center;
	background-color : rgba(0,0,0,0.5);
}

.titre, .text-cave
{
	display : none;
}

.h1-acc-descr
{
	font-size : 9em;
	padding : 0px;
	margin : 0px;
	padding-bottom: 0.1em;
}

.h2-acc-descr
{
	font-size : 3em;
	padding : 0px;
	margin : -1.2em;
	color : white;
	font-family: 'titre-graphique';
}

.h2-localisation
{
	font-size : 3em;
	color : white;
	font-family: 'titre-graphique';
}

.h3-acc-localisation
{
	font-size : 2.5em;
	color : white;
	font-family: 'titre-graphique';
	position: absolute;
    top: 65%;
	left: 36.3%;
}

#center {
  margin-left: auto;
  margin-right: auto;
  width: 30%; /* largeur obligatoire pour être centré */
}

.line
{
	width : 10em;
	border-top: 5px dotted  white;
	position: absolute;
    top: 80%;
}

.star
{
	left :30%;
	color : #a7a129;
	font-size : 2em;
	margin-left : 7.2em;
}

.line-left
{
	margin-left : 3em;
}

.line-right
{
	margin-left : 17.5em;
}

.underline-descr
{
	content: "";
    position: absolute;
    top: 60%;
    width: 0;
}

.go-down
{
	background-color : rgba(255,255,255,1);
	position : absolute;
	top : 96%;
	left : 47%;
	text-align : center;
	height : 3em;
	align-items: center;
	justify-content: center;
	border-radius: 150em 150em 0px 0px;
}

.int {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.glyphicon-menu-down
{
	padding-left : 1em;
	padding-right : 1em;
	padding-top :0.1em;
	font-size : 2.5em;
	color : #a7a129;
}


ul
{
	padding :0;
	margin: 0;
}

.horraire-ligne
{
	text-align : center;
	font-family: MS Serif;
	font-size : 1.4em;
	padding-right : 1em;
}

.horraire-title
{
	padding-bottom : 0.5em;
	font-size : 5em;
}

.arcticle 
{
	padding-top : 65px !important;
	padding-bottom : 265px !important;
}

.semi
{
	width : 50%;
	display : none;
	float : left;
	padding : 2em;
	padding-left : 3em;
}	

.description-article
{
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}

.img-home-concept
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	border : 1.5mm solid rgba(174,171,171);
}

.container-texte {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0.4em;
    left: 0;
}

.entete-concept
{
	display: block;
    width: 100%;
    height: 100%;
    position: relative;
	top : 15em;
}

.entete-concept-third
{
	display: block;
    width: 100%;
    height: 100%;
    position: relative;
	top : 5em;
}

.entete-concept-text
{
	color: #FFF;
	position: absolute;
    bottom: 0em;
    left: 0;
	width: 100%;
}

.article-concept  .entete-concept-text h3
{
	color: #FFF;
    display: inline	block;
    padding: 6px 35px 6px 2%;
    margin: 0;
    position: relative;
    transition: background 0.3s ease;
	font-size: 10em;
}

.entete-concept-text-third
{
	font-size: 4em !important;
}


.article-concept .container-texte h3 {
    color: #FFF;
    display: block;
    width: 100%;
    background-color: rgba(30,	30,30,.4);
    padding: 6px 35px 6px 2%;
    margin: 0;
    position: relative;
    transition: background 0.3s ease;
	font-size: 3em;
}

.text-article
{
	padding : 2em;
	color : #535352;
	text-align : center;
	font-family: MS Serif;
	font-size : 1.3em;
}

.image-droite, .image-gauche
{
	width : 45%;
	float : left;
	padding-left : 2em;
}

.image-gauche
{
	position : relative;
	top : 10em;
	padding-bottom : 5em;
}

.cadre
{
	position: relative;
}

.cadre-left
{
	border: 3px solid #a7a129;
	width : 38%;
    top: 8em;
}

.cadre-right
{
	border-top: 16px dotted  #535352;
	width : 40%;
    top: 28em;
	left : 34em;
}

.background
{
	width : 100%;
	max-height : 100vh;
}


#produit
{
	background : url("../images/background/backgroundProduitHomePage.jpg")  no-repeat center fixed;
	background-size : cover;
}

.fond-noir-img
{
	background-color : rgba(0,0,0,0.6);
	background-size : cover;
}

.fond-blanc-img
{
	background-color : rgba(255,255,255,0.6);
	background-size : cover;
}

h1 .fond-img
{

}

.fond-img
{
	color : white;
}

.fond-img-tireuse
{
	color : #535352;
}

.fond-noir
{
	position : absolute ;
	top : 0;
	z-index : 84;
	background-color :  rgba(0,0,0,0.4);
	width: 100%;
	height :auto;
}

.contact li
{
	color : white;
	padding-top :10px;
	font-size : x-small;
}

.contact span
{
	padding-left : 5px;
	padding-right : 5px;
}

.account
{
	font-size : x-small;
}

.description
{
	margin-left : 10%;
	position : absolute;
	top : calc(50vw / 2);
	background-color : rgba(0,0,0,0.6);
	
}

.description p
{
	color : white;
	font-size : large;
}

@font-face { /* Définition d'une nouvelle police nommée CAC Champagne */
    font-family: 'titre-graphique';
    src: url('../police/Apalu.ttf') format('truetype');
}

@font-face { /* Définition d'une nouvelle police nommée CAC Champagne */
    font-family: 'tableau';
    src: url('../police/SplendidB.ttf') format('truetype');
}

.description h1
{
	text-align : center;
	color : #a7a129;
	font-family: 'titre-graphique';
	font-size : 60px;
	background-attachment : fixed;
}

.facebook 
{
	width : 30px;
	height : auto;	
	padding-right : 10%;
}

h1
{
	margin-top :50px;
	text-align : center;
	color : #a7a129;      /* couleur murs*/
	font-family: 'titre-graphique';
	font-size : 80px;
}


.inline
{
	display : inline;
}

ul#menu li {
   display: inline;
   text-align: center;
   padding: 2px ;
   margin: 0;
   width: 19%;
}

.fond-img h2
{
	background-color : #a7a129;
}
	
h2 span
{
	padding : 25px;
}

h2
{
	margin-top : 20px;
	text-align : center;
	color : #535352;
	font-family: sherif;
	font-size : 20px;
}

h3 
{
	font-size : 45px;
	color : #535352;
	font-family : 'titre-graphique';
	margin : 0px;
	padding : 0px;
	text-align: center;
}

.tireuse-desc h3
{
	text-align : left;
}

.show-search h3
{
	font-size: 35px;
	margin-top : 25px;
	margin-bottom : 10px;
}

.produit-home, .concept-div
{
	margin-right : 15px;
}


.ligne-produit-home
{
	padding-top : 25px;
}

.ligne-concept{
	padding-top: 80px;
	padding-bottom :80px;
}
.btn-produit-home
{
	box-shadow: 0px -2px 30px black;
	margin-top : 75px;
	vertical-align : center;
	background-color : #a7a129;
	color : white;
	font-size : 20px;
	border-radius: 20px;
	margin-bottom : 30px;
}

.produit-home-photo
{
	margin : 0px;
	padding : 0px;
}

.barre-separation, .barre-separation-2
{
	border-bottom-style : solid;
	border-bottom-width :3px;
	padding-top : 9px;
}

.barre-separation
{
	border-bottom-color : #a7a129;
}

.barre-separation-2
{
	border-bottom-color : #aaaaaa;
	border-bottom-width :1px;
}

.produit-home-description, .concep-description
{
	margin-top : 20px !important;
	margin-bottom : 15px !important;
	font-size : 78% !important;
	
}

.produit-home-description
{
	color : #DCDCDC !important;
}

.concep-description
{
	color : #696969 !important;
}

.produit-home-description
{
	text-align: center;
}

td
{
	border-top-style : solid;
	border-top-width : 0.5px;
	border-top-color : #a7a129 ! important;
}

.table-responsive-md
{
	color : white;
}

.table-responsive-md-tireuse
{
	color : #535352;
}

.produit-home-tableau-gauche, .produit-search-tableau-gauche
{
	border-right-style : solid;
	border-right-width : 0.5px;
	border-right-color : #a7a129 !important;
	padding : 0px;
	margin : 0px;
}

.produit-search-tableau-gauche, .produit-search-tableau-droite
{
	color : #535352;
}

.produit-home-tableau-droite
{
	border-left-style : solid;
	border-left-width : 0.5px;
	border-left-color : #a7a129 !important;
	padding : 0px;
	margin : 0px;
}

.produit-home-text p
{
	padding : 0px;
	margin : 0px;
	padding-left : 10%;
	color : white;
	font-size : 100%;
}

section
{
	padding : 0px !important;
}

.concept-section-1
{
	padding-top : 10em !important;
}

.concept-section-2
{
	padding-top : 2em !important;
}

.section-produit-tireuse, .section-produit-vin, .section-produit-alcool, .section-produit-diver, .section-produit-verre
{
	display : none;
}

.int .third
{
	float: left;
    width: 30%;
    margin: 1.66%;}

.div-image-tireuse
{
	background-image : url("../images/tireuse/tireuse.jpg");
	background-size : 100%;
	background-repeat : no-repeat;
	height  : calc(50vw);
	margin-top : 100px;
}

.table-image-tireuse
{
	width : 100%;
	position : relative;
	top : calc((-100vw / 3.3)*0.78);
}

.help-tireuse
{
	text-align : center;
	color : #8e8e8b;
	font-size : 100%;
}

.tireuse
{
	height  : calc(47vw);
	position : relative;
	top : calc(-1.2vw);
}

.tireuse:hover
{
	background-color : rgba(0,0,0,0.4);
}

#tireuse-1
{	
	width : 15%;
}

#tireuse-2
{
	width : 14%;
}
#tireuse-3
{
	width : 5.5%;
}
#tireuse-4
{
	width : 5.5%;
}
#tireuse-5
{
	width : 5%;
}
#tireuse-6
{
	width : 5%;
}
#tireuse-7
{
	width : 5%;
}
#tireuse-8
{
	width : 5.5%;
}
#tireuse-9
{
	width : 5.5%;

}
#tireuse-10
{
	width : 5.5%;
}
#tireuse-11
{
	width : 14%;
}
#tireuse-12
{
	width : 18%;
}

#description-tireuse-inactive
{
	display : none;
}

#description-tireuse-active
{
	display : block;
}

.tireuse-head
{
	border-top : 3px solid;
	border-top-right-radius : 50em;
}

.div-tableau-tireuse
{
	font-family: 'tableau';
	background-image : url("../images/background/ardoise.png");
	height : calc(0.38 * 66vw);
	background-size : 100%;
	background-repeat : no-repeat;
	color : white;
	position : relative;
	top : calc(-6.5vw);
	z-index : 1;
}

.table-table-tireuse
{
	width : 90%;
	position : relative;
	left :5%;
	top : 15%;
	font-weight:bold;
	font-size : calc(1.7vw);
}

.note-star
{
	color : #a7a129;
	font-size : 20px;
}

.note-star-empty
{
	color : #D3D3D3;
}

.glyphicon-ok-circle
{
	color : green;
}

.rechercher
{
	width : 100%;
}

.padding-15
{
	padding : 15px; !important
}

.trie-menu
{
	background-color : rgba(0,0,0,0.4);
}

.trie-menu .glyphicon
{
	font-size : 50px;
}

.trie-menu .glyphicon, .trie-menu p
{
	text-align: center;
    margin: 0 auto;
	color : white;
}

.trie-menu p
{
	font-size : 10px;
}

.trie-menu .glyphicon-chevron-down
{
	font-size : 10px;
	margin-top : 5px;
}

.trie-menu .glyphicon-unchecked, .trie-menu .glyphicon-check
{
	font-size : 15px;
	text-align : left;
	margin-top : 5px;
	margin-bottom : 10px;
	padding-left : 0px;
	cursor : pointer;
}


.filtre
{
    width: 45px;
    height: 50px;
    background-repeat: no-repeat;
    display: block;
    text-align: center;
    margin: 0 auto;
}

.item-filtre
{
	margin-top : 10px;
	cursor : pointer;
}

.item-filtre:hover
{
	background-color : rgba(0,0,0,0.6);
}

.filtre-type-biere
{
	background: url(/images/logo/shop.png);
}

.filtre-type-conteneur
{
	background: url(/images/logo/moche.png);
}

.filtre-couleur
{
	background: url(/images/logo/goutte.png);
}
.search-head
{
	background: url(/images/background/search-biere.png);
	background-size : 100%;
	background-repeat : no-repeat;
	min-height : 250px;
	border-bottom-style : solid;
	border-bottom-width :13px;
}

.drop-down
{
	background-color : rgba(0,0,0,0.4);
	padding-left : 0px;
	position : absolute;
	left : 0;
	z-index : 10;
	height : 150px;
	overflow-y : auto;
	overflow-x : hidden;
	display : none;
}

#filtre-typeBiere:hover #drop-down-filtre-typeBiere
{
	display : block;
}

#filtre-typeConteneurBiere:hover #drop-down-filtre-typeConteneurBiere
{
	display : block;
	
}
#filtre-paysBiere:hover #drop-down-filtre-paysBiere
{
	display : block;
}

#filtre-couleurBiere:hover #drop-down-filtre-couleurBiere
{
	display : block;
}

ul.list-group:after {
  clear: both;
  display: block;
  content: "";
}

.list-group-item {
    float: left;
	display: table;
}

ul {
	list-style-type:none;
}
.trie-menu .input-group .glyphicon
{
	font-size: 14px;
}

.input-group
{
	padding : 20px;
}

.name-search{
	border-top-left-radius : 15px !important;
	border-bottom-left-radius : 15px !important;
}

.input-group-addon{
	border-top-right-radius : 15px !important;
	border-bottom-right-radius : 15px !important;
}

.input-group .input-group-addon
{
	background-color : #a7a129;
}

.href_produit
{
	color : black;
}

.href_produit:hover li
{
	background-color : rgba(200,180,41,0.4);
}

.sous-titre-detail
{
	color : #a7a129;
	font-size : 350%;
}

.sous-titre-detail:hover
{
	background-color : rgba(167,161,41,0.8);
	color : rgb(255,255,255);
}

.produit-detail
{
	border-style : solid;
	border-color : rgb(245,245,245);
	border-radius : 20px;
}

.produit-detail:hover
{
	border-color : #a7a129;
}

.blanc-details
{
	height: 50px;
}

.image_search
{
	height : 13vw;
}

.image_detail
{
	height : 13vw;
}

.fond-detail
{
	background : url("../images/background/backgroundProduitHomePage.jpg")  no-repeat center fixed;
	background-size : cover;
}

.produit-detail-description
{
	margin-top : 20px !important;
	margin-bottom : 15px !important;
	color : #A9A9A9;
	font-family: cursive;
	text-align : justify;
}

dt {
  display:table-cell;
  vertical-align:middle;
  padding-right:5px;
  color : #A7A129;
}

dd {
  display:table-cell;
  vertical-align:middle;
  margin-bottom: 15px;
}

.noteAmertume>div {
    margin: 0;
    height: 20px;
}

.noteAmertume>div:nth-child(1)
{
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
}

.noteAmertume>div:nth-child(11)
{
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
}

.noteAmertume>div:nth-child(1),.noteAmertume>div:nth-child(11)
{
	background-color : rgba(167,161,41,1);
}

.noteAmertume>div:nth-child(2),.noteAmertume>div:nth-child(10)
{
	background-color : rgba(167,161,41,0.8);
}

.noteAmertume>div:nth-child(3),.noteAmertume>div:nth-child(9)
{
	background-color : rgba(167,161,41,0.6);
}

.noteAmertume>div:nth-child(4),.noteAmertume>div:nth-child(8)
{
	background-color : rgba(167,161,41,0.4);
}

.noteAmertume>div:nth-child(5),.noteAmertume>div:nth-child(7)
{
	background-color : rgba(167,161,41,0.2);
}

.noteAmertume>div:nth-child(6)
{
	background-color : rgba(167,161,41,0.1);
}

.produit-conseil
{
	display : none;
}

.sous-titre-detail-active
{
	background-color : rgba(167,161,41,0.8);
	color : rgb(255,255,255);
}

.concept-picture
{
	max-height : 20vw;
	padding-left : 0px !important;
	padding-right : 0px !important;
}

.concept-descr
{
	color : #535352;
	text-align : center;
}

.concept-ligne
{
	padding-bottom : 30px;
	padding-left : 0px !important;
	padding-right : 0px !important;
}

.home-background
{
	height : 100vh;
	width : 100%;
}