{% extends 'base.html.twig' %}

{% block title %}Edit Biere{% endblock %}

{% block body %}
    <h1>Edit Biere</h1>

    {{ include('biere/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('biere_index') }}">back to list</a>

    {{ include('biere/_delete_form.html.twig') }}
{% endblock %}