{% block body %}
	<ul class="col-md-12">
	{% for biere in bieres %}
		{{ include("biere/showDetail.html.twig") }}
		{% if loop.index is divisible by (4) %}
			</ul>
			<ul class="col-md-12">
		{% endif %}
	{% else %}
		<h1> Oups aucune correspondance </h1>
	{% endfor %}
	</table>
{% endblock %}