<li class="col-md-3">
	<div class="col-md-12">
		<div class="col-md-3"></div>
		<div class="image_search"><img src={{photoProduit_directory}}/{{biere.NomPhoto}} class="col-md-6 produit-search-photo"></div>
		<div class="col-md-3"></div>
	</div>
	<div class="col-md-12">
		<h3>{{biere.NomProduit}}</h3>
		<div class="col-md-3"></div><div class="col-md-6 barre-separation"></div><div class="col-md-3"></div>
	</div>
</li>