{% extends 'base.html.twig' %}

{% block title %}New Divers{% endblock %}

{% block body %}
    <h1>Create new Divers</h1>

    {{ include('divers/_form.html.twig') }}

    <a href="{{ path('divers_index') }}">back to list</a>
{% endblock %}