{% extends 'base.html.twig' %}

{% block title %}Edit TypeBiere{% endblock %}

{% block body %}
    <h1>Edit TypeBiere</h1>

    {{ include('type_biere/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('type_biere_index') }}">back to list</a>

    {{ include('type_biere/_delete_form.html.twig') }}
{% endblock %}