{% extends 'base.html.twig' %}

{% block title %}New TypeBiere{% endblock %}

{% block body %}
    <h1>Create new TypeBiere</h1>

    {{ include('type_biere/_form.html.twig') }}

    <a href="{{ path('type_biere_index') }}">back to list</a>
{% endblock %}