{% extends 'base.html.twig' %}

{% block title %}New CategorieVieillissement{% endblock %}

{% block body %}
    <h1>Create new CategorieVieillissement</h1>

    {{ include('categorie_vieillissement/_form.html.twig') }}

    <a href="{{ path('categorie_vieillissement_index') }}">back to list</a>
{% endblock %}