{% extends 'base.html.twig' %}

{% block title %}New TypeConteneur{% endblock %}

{% block body %}
    <h1>Create new TypeConteneur</h1>

    {{ include('type_conteneur/_form.html.twig') }}

    <a href="{{ path('type_conteneur_index') }}">back to list</a>
{% endblock %}