{% extends 'base.html.twig' %}

{% block title %}Gestion index{% endblock %}

{% block body %}
		<h1>Gestion</h1>
		
		
			<div class="col-md-2"><h2>Alcool</h2>
				<a href="gestion/alcool/"><input class="col-md-12" type="button" value="Alcool"></a>
				<a href="gestion/type/alcool/"><input class="col-md-12" type="button" value="Type Alcool"></a>
				<a href="gestion/type/conteneur/"><input class="col-md-12" type="button" value="Type Conteneur"></a>
				<a href="gestion/categorie/vieillissement/"><input class="col-md-12" type="button" value="Categorie Vieillissement"></a>
				<a href="gestion/pays/fabrication/"><input class="col-md-12" type="button" value="Pays Fabrication"></a>
				<a href="gestion/couleur/"><input class="col-md-12" type="button" value="Couleur"></a>
			</div>
			<div class="col-md-2"><h2>Bière</h2>
				<a href="gestion/biere/"><input class="col-md-12" type="button" value="Bière"></a>
				<a href="gestion/type/biere/"><input class="col-md-12" type="button" value="Type Bière"></a>
				<a href="gestion/type/conteneur/"><input class="col-md-12" type="button" value="Type Conteneur"></a>
				<a href="gestion/brasserie/"><input class="col-md-12" type="button" value="Brasserie"></a>
				<a href="gestion/couleur/"><input class="col-md-12" type="button" value="Couleur"></a>
				<a href="gestion/tireuse/"><input class="col-md-12" type="button" value="Tireuse"></a>
			</div>
			<div class="col-md-2"><h2>Vin</h2>
				<a href="gestion/vin/"><input class="col-md-12" type="button" value="Vin"></a>
				<a href="gestion/vignoble/"><input class="col-md-12" type="button" value="Vignoble"></a>
				<a href="gestion/type/conteneur/"><input class="col-md-12" type="button" value="Type Conteneur"></a>
				<a href="gestion/couleur/"><input class="col-md-12" type="button" value="Couleur"></a>
				<a href="gestion/pays/fabrication/"><input class="col-md-12" type="button" value="Pays Fabrication"></a>
				<a href="gestion/region/fabrication/"><input class="col-md-12" type="button" value="Region Fabrication"></a>
			</div>
			<div class="col-md-2"><h2>Divers</h2>
				<a href="gestion/divers/"><input class="col-md-12" type="button" value="Divers"></a>
				<a href="gestion/type/divers/"><input class="col-md-12" type="button" value="Type Divers"></a>
			</div>
			<div class="col-md-2"><h2>Utilisateur</h2>
				<a href="gestion/utilisateur/"><input class="col-md-12" type="button" value="Utilisateur"></a>
			</div>
			<div class="col-md-2"><h2>Commentaire</h2>
				<a href="gestion/commentaire/"><input class="col-md-12" type="button" value="Commentaire"></a>
			</div>
		

{% endblock %}