{% extends 'base.html.twig' %}

{% block title %}Biere index{% endblock %}

{% block body %}
		<h1>Gestion</h1>
		<div class="col-md-12">
			<div class="col-md-3 blanc"></div><a href="alcool/"><input class="col-md-6" type="button" value="Alcool"></a><div class="col-md-3" blanc></div>
		</div>		
		<div class="col-md-12">
			<div class="col-md-3 blanc"></div><a href="biere/"><input class="col-md-6" type="button" value="Bière"></a><div class="col-md-3" blanc></div>
		</div>		
		<div class="col-md-12">
			<div class="col-md-3 blanc"></div><a href="divers/"><input class="col-md-6" type="button" value="Divers"></a><div class="col-md-3" blanc></div>
		</div>		
		<div class="col-md-12">
			<div class="col-md-3 blanc"></div><a href="vin/"><input class="col-md-6" type="button" value="Vin"></a><div class="col-md-3" blanc></div>
		</div>		
		<div class="col-md-12">
			<div class="col-md-3 blanc"></div><a href="utilisateur/"><input class="col-md-6" type="button" value="Utilisateur"></a><div class="col-md-3" blanc></div>
		</div>		
		<div class="col-md-12">
			<div class="col-md-3 blanc"></div><a href="commentaire/"><input class="col-md-6" type="button" value="Commentaire"></a><div class="col-md-3" blanc></div>
		</div>
		

{% endblock %}