<form method="post" action="{{ path('pays_fabrication_delete', {'idPaysFabrication': pays_fabrication.idPaysFabrication}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pays_fabrication.idPaysFabrication) }}">
    <button class="btn">Delete</button>
</form>