<form method="post" action="{{ path('pays_fabrication_delete', {'id_pays_fabrication': pays_fabrication.id_pays_fabrication}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pays_fabrication.id_pays_fabrication) }}">
    <button class="btn">Delete</button>
</form>