{% extends 'base.html.twig' %}

{% block title %}Edit PaysFabrication{% endblock %}

{% block body %}
    <h1>Edit PaysFabrication</h1>

    {{ include('pays_fabrication/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('pays_fabrication_index') }}">back to list</a>

    {{ include('pays_fabrication/_delete_form.html.twig') }}
{% endblock %}